* {
	margin: 0;
	padding: 0;
	font-family: 'Monument Extended';
	color: white;
}

*::selection {
	background-color: #ffad32;
	color: white;
}

::-webkit-scrollbar {
	width: 10px;
	margin-right: 15px;
	background: transparent;
}

::-webkit-scrollbar-track {
	background: #303030;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
}

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	background-image: url('./img/background.jpg');
	background-size: cover;
}

.effect {
	display: block;
	position: fixed;
	color: transparent;
	font-size: 7em;
	-webkit-text-stroke: 1px white;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	font-weight: 800;
	font-style: normal;
}

.mango {
	bottom: 160px;
	left: -120px;
}

.valley {
	top: 130px;
	left: 45px;
}

.year {
	display: block;
	position: fixed;
	font-size: 3em;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	font-weight: 800;
	font-style: normal;
	bottom: 100px;
	left: 180px;
}

.info-container {
	width: calc(70%- 100px);
	margin-left: 30%;
	height: calc(100vh- 100px);
	display: flex;
	padding: 50px;
	flex-direction: column;
	align-items: center;
}

.info-container h1 {
	color: white;
	align-items: center;
	margin-bottom: 40px;
}

.accordion {
	width: 80%;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	position: relative;
	z-index: 5;
}

.accordion span {
	color: white;
	font-size: 2em;
	font-weight: bold;
	margin: 0 40px;
	z-index: 6;
}

.color-overlay {
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.3;
	position: absolute;
}

.team {
	background: #0088ff url('./img/team.jpg');
	background-size: cover;
	background-position-y: center;
}

.projects {
	background-image: url('./img/projects.jpg');
	background-size: cover;
	background-position-y: center;
}

.list {
	width: 80%;
	height: 0px;
	margin-bottom: 40px;
	background: rgba(0, 0, 0, 0.1);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	transition: 0.2s;
	z-index: 5;
}

.contenido-conatiner {
	width: 100%;
	height: 100%;
	display: flex;
	padding: 0 20px;
	align-items: center;
	justify-content: space-around;
	opacity: 0;
	transition: 0.2s;
	z-index: 4;
}

.profile {
	width: calc(35% - 40px);
	height: calc(70% - 100px);
	background: #303030;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding: 50px 20px;
	z-index: 0;
}

.profile img {
	width: 70px;
	height: 70px;
	position: absolute;
	top: -15%;
}

.profile p {
	margin-top: 10px;
	font-size: 0.7em;
	font-weight: 100;
}

.profile button {
	background: transparent;
	border: none;
	border-bottom: 2px solid white;
	outline: none;
	cursor: pointer;
	position: absolute;
	bottom: 10%;
	margin-top: 30px;
}

.arrow {
	background: transparent;
	border: none;
	height: 40px;
	width: 40px;
	font-size: 2em;
	outline: none;
	cursor: pointer;
	margin: 0 0px;
}

.mySlides {
	display: none;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: space-around;
	position: relative;
	z-index: 0;
}
.mySlidesProjects {
	display: none;
	width: 100%;
	height: 100%;
	align-items: center;
	position: relative;
	justify-content: space-around;
	z-index: 0;
}

.modal-back {
	background: rgba(0, 0, 0, 0.5);
	-webkit-backdrop-filter: saturate(180%) blur(5px);
	backdrop-filter: saturate(180%) blur(5px);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 4;
	transition: 0.5s;
}
.modal-back-tranparent {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	transform: translate(-50%, -50%);
	background: #131313;
	z-index: 4;
	transition: 0.5s;
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	font-size: 1.5em;
	margin: 20px;
}

.contenido-modal {
	width: calc(100% - 80px);
	height: calc(100% - 80px);
	position: relative;
	display: flex;
	padding: 40px;
	align-items: center;
}

.img-modal img {
	width: 200px;
	height: 200px;
}

.texto-modal {
	height: 200px;
	padding-left: 40px;
}

.title-modal {
	color: #424242;
}

.project {
	height: calc(80% - 40px);
	width: calc(85% - 40px);
	background: #303030;
	display: flex;
	align-items: center;
	padding: 20px;
}

.project img {
	width: 40%;
}

.contenido-project {
	margin-left: 15px;
}
